<section>
<div class="container animate__animated animate__backInUp">
  <h1 class="text-center">Mi proyecto Rick And Morty</h1>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deserunt nisi itaque id illo asperiores voluptas, beatae perspiciatis nulla laborum deleniti vero, fugit, nobis consequuntur magnam dolorum placeat nesciunt excepturi!</p>
  <h1 class="text-center text-danger">Otros proyectos del mundo de ManuelCodex</h1>
  <div class="d-flex flex-wrap justify-content-center mb-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://res.cloudinary.com/manuelcodex/image/upload/v1666891520/CRY%40S/3800_2_06_q5gcsl.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://res.cloudinary.com/manuelcodex/image/upload/v1666891520/CRY%40S/3800_2_06_q5gcsl.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://res.cloudinary.com/manuelcodex/image/upload/v1666891519/CRY%40S/500_95_gbgutr.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://res.cloudinary.com/manuelcodex/image/upload/v1666891519/CRY%40S/500_95_gbgutr.jpg" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

  </div>
</div>
</section>
